:root{
  --fonte: 'Helvetica Neue', sans-serif;
  --tamanhoPequeno: 0.88em;
  --tamanhoNormal: 1em;
  --tamanhoGrande: 1.5em;
  --pesoNormal: 400;
  --pesoNegrito: 700;
}

html{
  font-size: 16px;
}
body {
  margin: 0;
  font-family: var(--fonte);

}


